apiVersion: v1
kind: Secret
metadata:
  name: searchagent-freelancer
type: Opaque
stringData:
  SMTP_HOST: "..."
  SMTP_USERNAME: "..."
  SMTP_PASSWORD: "..."
  SMTP_TO: "..."
  SMTP_TO_KUBERNETES: "..."
  SMTP_FROM: "..."
